<p id="notice"><%= notice %></p>

<p>
  <b>Dailynote:</b>
  <%= @dailypost.dailynote_id %>
</p>

<p>
  <b>Content:</b>
  <%= @dailypost.content %>
</p>

<p>
  <b>Image:</b>
  <%= @dailypost.image %>
</p>


<%= link_to 'Edit', edit_dailypost_path(@dailypost) %> |
<%= link_to 'Back', dailyposts_path %>
