<%- model_class = Topic -%>
<div class="page-header">
  <h1><%= title = @group && @group.name %>讨论组---话题</h1>
</div>
<div class="main box" style="margin-bottom:20px;">
<% @topics.each do |topic| %>
<div class="topic">
  <div class="topic_header">
    <h1><%= link_to topic.title,topic_path(topic) %></h1>
  </div>
  <div class="topic_content">
    <p><%= sanitize topic.description %></p>
  </div>
  <div class="topic_info">
   <div class="topic_tool">
          <%= link_to t('.edit', :default => t("编辑")),
                      edit_topic_path(topic) %>
          <%= link_to t('.destroy', :default => t("删除")),
                      topic_path(topic),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
   </div>
  </div>
</div>
<% end %>
</div>

<%= link_to t('.new', :default => t("新建话题")),
            new_group_topic_path(@group_id) %>
